<a href="https://colab.research.google.com/github/karltenoria04/CPE033.1-1--Elective-3/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Identation

In [57]:
x = 3
y = 2

if x > y:
  print("Five is greater than 2")

Five is greater than 2

Python Comment

In [ ]:
print("Hello World") #This is a python comment

Hello World

Python Variable

In [ ]:
z = 1
z,s = 0,-1
z,s,t = 8,9,10
print(z,s)

8 9

Casting

In [ ]:
b = "Sally" #This is a string

b = float(4)
b

4.0

In [ ]:
b = int(4)
b

4

Type() Function

In [ ]:
print(type(b))

<class 'float'>

Double Quote and Single Quote

In [ ]:
w = "Ana"
w

'Ana'

In [ ]:
q = 'Ana'
q

'Ana'

In [ ]:
w = "Ana"
q = 'Ana'

print(w,q)

Ana Ana

Case Sensitive

In [ ]:
a = int(4)
A = "Sally"

a
A

'Sally'

Multiple Variables

In [ ]:
h,i,j = "one","two","three"

print(h)
print(i)
print(j)

one
two
three

Multiple Variables with Single Value

In [ ]:
k = l = m = "four"
print(k,l,m)

four four four

Output Variables and Concatenation +

In [ ]:
n = "enjoying"

print("Python Programming is " + n)

Python Programming is enjoying

In [ ]:
o = "Python Programming is"
n = "enjoying"

p = o + n

print(p)

Python Programming isenjoying

Arithmetic Operations

In [58]:
print(x+y)              #Addition
print(x-y)              #Subtraction
print(x*y)              #Multiplication
print(x/y)              #Division
print(round(5/3),2)     #Division but rounded offto whole number
print(x//y)             #Floor Division
print(x%y)              #Modulus
print(x**y)             #Exponentiation

5
1
6
1.5
2 2
1
1
9

Assignment Operator

In [59]:
x+=3       #same as x = x+3
print(x)

6

Comparison Operator

In [62]:
print(x==y)     #x = 3, y = 2
print(x!=y)     #x is not equal to y
print(x>y)      #x is greater than y
print(x<y)      #x is not less than y

False
True
True
False

Logical Operators

In [66]:
print(x==y and x!=y)         #False and True = False
print(x==y or x!=y)          #False or True = True
print(not(x==y or x!=y))     #negate(False or True)

False
True
False

Identity Operators

In [69]:
print(x is y)       #x=3, y=2
print(x is not y)

False
True

Bitwise Operator

In [77]:
#10 + 1 = 11  ;1010 + 0001 = 1011

#If AND, it multiplies

print(10 | 1)

print(x>>1)    #x=3, 011

11
3